<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<!-- CSS links -->
<link rel="stylesheet" href="/resources/css/index.css">
</head>
<body>
<header>
    <nav>
        <ul id="menu">
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>
<h1>Welcome to Vision. Here, you can search for the latest blockbusters and get to know more about your favourite films</h1>
    <div class =col>
        <img src = "https://cdn.escapistmagazine.com/media/global/images/library/deriv/1007/1007491.jpg">
    </div>
</body>
</html>